{% extends 'base.html.twig' %}

{% block title %}Link index{% endblock %}

{% block body %}
    <h1>Link index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Link</th>
                <th>Short Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.link }}</td>
                <td>{{ link.shortLink }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('link_redirect', {'short_link': link.shortLink}) }}">trigger</a>
                    <a class="btn btn-info" href="{{ path('link_show', {'short_link': link.shortLink}) }}">details</a>
                    <a class="btn btn-success" href="{{ path('link_edit', {'short_link': link.shortLink}) }}">edit</a>
                    {{ include('link/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('link_new') }}">Create new</a>
{% endblock %}
