{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}
    <h1>Link</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ link.link }}</td>
            </tr>
            <tr>
                <th>Short_link</th>
                <td>{{ link.shortLink }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('link/_delete_form.html.twig') }}
    <a class="btn btn-secondary" href="{{ path('link_edit', {'short_link': link.shortLink}) }}">Edit</a>
    <a href="{{ path('link_index') }}">To list</a>

{% endblock %}
